:root {
    --white: #FFFFFF;
    --wild-blue: #7A89B8;
    --jade-green: #03BE7A;
    --torch-red: #F81B1B;
}

body {
    background-color: var(--wild-blue);
    color: var(--white);
    height: 100%;
}

section {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

img {
    border-radius: 5px;
}

.content {
    margin: 30px, 0px;
}

button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.primary {
    background-color: var(--jade-green);
    color: var(--white);
}

.secondary {
    background-color: var(--torch-red);
    color: var(--white);
}

input {
    border: none;
    padding: 15px;
    margin-right: 10px;
    border-radius: 5px;
}